*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --poppins: "Poppins", sans-serif;
    --pt-sans: "PT Sans", sans-serif;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
ul li{
    list-style: none;
}
body{
    color:#353535;
}

/* nav start */
nav{
    margin-bottom: 56px;
}
.nav-bar {
    padding: 18px;
}
.nav-bar ul li a{
    position: relative;
    color: #353535;
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 500;
    /* line-height: 30px; */
    text-align: left;
    text-transform: uppercase;
}

.nav-bar ul li a::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}
.nav-bar ul li .active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}
.nav-bar ul li a:hover::before{
    width: 100%;
}
.nav-bar ul li .project{
    color: #fff;
    visibility: hidden;
    opacity: 0;
}
.offcanvas-body ul li a{
    display: block;
    padding: 10px;
    color: #353535;
    font-size:15px;
    font-weight: 500;
    font-family: var(--poppins);
    text-transform: uppercase;
}
.offcanvas-body ul li a:hover{
    background-color: #98c1d9;
    transition: 0.3s;
}
/* nav end */

/* blog */
#blog .container .header{
    background-image: url('../images/about/backpic.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    /* margin: 60px 0 80px 0; */
}
#blog .container .header h4{
    font-family: var(--pt-sans);
    font-size: 46px;
    font-weight: 700;
    line-height: 59.52px;
    color: #fff;
    padding: 40px 0 7px 0;
}
#blog .container .header p{
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 600;
    line-height: 34.2px;
    color: #fff;
    padding: 3px 0 40px 0;
}
/* blog */

/* mainbox */
#main-box{
    margin: 80px 0;
}
#main-box .row{
    border-radius: 20px;
}
#main-box .row .content{
    padding-left: 60px;
    padding-right: 55px;
}
#main-box .row .content h5{
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 30px;
    line-height: 164%;
    color: #353535;
    padding-bottom: 13px;
}
#main-box .row .content p{
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #7a7a7a;
    padding-bottom: 15px;
}
#main-box .row .content .date{
    padding-top: 45px;
}
#main-box .row .content .date img{
    vertical-align: baseline;
}
#main-box .row .content .date span{
    display: inline-block;
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 18px;
    line-height: 190%;
    color: #7a7a7a;
    padding: 0 10px;
}
#main-box .row .content .date .name{
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 18px;
    line-height: 190%;
    color: #353535;
}
#main-box .container .row .image{
    position: relative;
    padding: 0;
}
#main-box .container .row .image .overlay{
    inset: 0;
    position: absolute;
    opacity: 50%;
    background-color: #000;
    border-radius: 20px;
    transition: 0.4s;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
#main-box .container .row .image .overlay span{
    display: inline-block;
    color: #fff;
    font-size: 48px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition-delay: 0.2s;
    transition: 0.5s;
}
#main-box .container .row .image:hover .overlay{
    opacity: 50%;
    visibility: visible;
}
#main-box .container .row .image:hover .overlay span{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 991.98px) { 
    #main-box .row .content{
        padding: 40px 25px ;
    }
    #main-box .row {
        margin: 0 10px;
    }
}
/* mainbox */

/* grp-box */
#grp-box{
    margin-bottom: 130px;
}
#grp-box .container .row .box{
    border-radius: 20px;
    width: calc(33.33% - 30px);
    margin-right: 15px;
    padding: 0;
}
#grp-box .container .row .box h5{
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 20px;
    line-height: 190%;
    color: #353535;
    padding: 35px 25px 9px 0;
}
#grp-box .container .row .box p{
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #7a7a7a;
    padding-bottom: 18px;
}
#grp-box .container .row .box .content{
    padding: 20px 20px;
}
#grp-box .container .row .box .date span{
    display: inline-block;
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: #7a7a7a;
    padding: 0 13px;
}
#grp-box .container .row .box .date .name{
    display: inline-block;
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 16px;
    line-height: 190%;
    color: #353535;
}
#grp-box .container .row .box .image{
    position: relative;
}
#grp-box .container .row .box .overlay{
    inset: 0;
    position: absolute;
    opacity: 50%;
    background-color: #000;
    border-radius: 30px;
    transition: 0.4s;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
#grp-box .container .row .box .overlay span{
    display: inline-block;
    color: #fff;
    font-size: 48px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition-delay: 0.2s;
    transition: 0.5s;
}
#grp-box .container .row .box .image:hover .overlay{
    opacity: 50%;
    visibility: visible;
}
#grp-box .container .row .box .image:hover .overlay span{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 991.98px) {
    #grp-box .container .row{
        display: flex;
        /* flex-direction: column; */
    }
    #grp-box .container .row .box{
        display: flex;
        /* flex-direction: row; */
        width: 100%;
        padding: 0;
    }
    #grp-box .container .row .box .image{
        width: 40%;
    }
    #grp-box .container .row .box .content{
        width: 60%;
        padding-left: 30px;
        padding-bottom: 0;
    }
    #grp-box .container .row .box h5{
        padding: 0 0 9px 0;
    }
    #grp-box .container .row .box .date span{
        padding: 0 5px;
    }
    #grp-box .container .row{
        margin: 0 10px;
    }
    #grp-box .container .row .box .overlay span{
        font-size: 30px;
    }
    #grp-box .container .row .box .overlay{
        border-radius: 20px;
    }
}

/* grp-box */

/* footer */
#footer{
    background-image: url('../images/footer_back.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#footer .row{
    padding: 71px 75px;
}
#footer .foot{
    padding-top: 0;
}
#footer .button a{
    padding: 16px 32px;
    display: inline-block;
    background-color: #FFCC00;
    border-radius: 20px;
    color: #fff;
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}
#footer .button {
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .button a:hover{
    color: #000;
    transition: 0.3s;
}
#footer .image {
    padding-top: 15px;
    display: flex;
    /* align-items: center; */
}
#footer .row .content h5{
    font-family: var(--poppins);
    font-size: 36px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: #fff;
}
#footer .row .content p{
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: justify;
    color: #BBB9B9;
}
#footer .row .contact p{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: justify;
    color:  #BBB9B9;
}
#footer .row .contact a{
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #fff;
}
#footer .row .links h4{
    display: inline-block;
    padding-right: 16px;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: justify;
    color: #fff;
}
#footer .row .links span{
    display: inline-block;
    /* padding-left: 16px; */
    height: 40px;
    width: 40px;
    background-color: #484848;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 19px;
    margin-left: 16px;
}
#footer .row .links span:hover{
    background-color: #FAF9F6;
    color: #000;
    font-size: 19px;
}

@media (max-width: 991.98px) { 
    #footer .row .img-div{
        padding-bottom: 27px;
    }

    #footer .row .content p{
    display: block;
    font-family: var(--poppins);
    /* font-size: 13px; */
    font-weight: 400;
    /* line-height: 23.4px; */
    text-align: justify;
    letter-spacing: 2px;
    }

    #footer .row .content h5{
        padding-bottom: 10px;
    }

    #footer .button {
        display: flex;
        padding-top: 31px;
        justify-content: left;
        align-items: center;
    }

    #footer .foot{
        display: flex;
        flex-wrap: wrap;
    }

    #footer .foot .contact{
        width: 50%;
        padding-left: 0;
    }

    #footer .foot .link-up{
        padding: 32px 0 57px 0;
    }

}
@media (max-width: 575.98px) { 
    #footer .foot .contact{
        width: 100%;
        padding-bottom: 25px;
    }

}
/* footer end */